:root {
    --background: #FAFAFC;
    --font-color: #4a4a4e;
    --image: url("https://images.unsplash.com/photo-1631714777290-d81bbb3ef248?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzMjM5Nzk0NA&ixlib=rb-1.2.1&q=80&w=1600");
    --card-background: #fff;
    --text-color-one: #252525d0;
    --text-color-two: #00000085;
    --hashtags-background: #dce6f1;
}



body {
    background-color: var(--background);
    font-family: system-ui;
    color: var(--font-color);
    box-sizing: border-box;
    margin: 0;
}

.container {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.card {
    background-color: var(--card-background);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 30%;
    height: 60%;
    border-radius: 10px; 
    overflow: hidden; 
    transition: 0.3s;
}

.card-top {
    background-image: var(--image);
    height: 40%;
    background-size: cover;
}

.card-body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.body-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0px 30px;  
    height: 40%;
}

.title {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: capitalize;
}

.description {
    color: var(--text-color-one);
}

.hashtags  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 30px;  
}


.hashtags a {
    /* display: inline-block;
    margin: 20px 5px 5px 0px; */
    background-color: var(--hashtags-background);
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--text-color-two);
    padding: 6px 10px 10px 6px;
}



