
body {
    background-color: #FAFAFC;;
    font-family: system-ui;
    color: #4a4a4e;
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 330px;
    height: 350px;
    border-radius: 10px; 
    overflow: hidden; 
    transition: 0.3s;
}

.card-top {
    background-image: url("https://images.unsplash.com/photo-1631714777290-d81bbb3ef248?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzMjM5Nzk0NA&ixlib=rb-1.2.1&q=80&w=1600");
    width: 320px;
    height: 160px;
    background-size: cover;
}

.card-body {
    margin: 20px 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.description {
    margin: 10px 0px 10px 0px;
    color: #252525d0;
    font: 16px;
}

.hashtags {
    display: inline-block;
    margin: 20px 5px 5px 0px;
    background-color: #dce6f1;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #00000085;
    padding: 6px 10px 10px 6px;
}



