
body {
    background-color: #FAFAFC;;
    font-family: system-ui;
    color: #4a4a4e;
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 400px;
    height: 640px;
    overflow: hidden; 
    transition: 0.3s;
    background-color: rgba(225, 239, 248, 0.911);
}

.card-top {
    background-image: url("https://images.unsplash.com/photo-1574007557239-acf6863bc375?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
    width: 400px;
    height: 500px;
    background-size: cover;
    position: relative;
}

.stats {
    color: rgba(255, 255, 255, 0.911);
    position: absolute;
    bottom: 20px;
    left: 30px;
    word-spacing: 10px;
    font-size: 18px;
    font-weight: 500;
}

.card-body {
    width: 400px;
    height: 100px;
    margin: 20px;
}

.avatar img {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 15px;
}

.title {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: bold;
    color: #4a4a4eef;
    padding-top: 30px;
}

.subtitle {
    font-size: 18px;
    color: #4a4a4e75;
    padding-top: -20px;
}

.subtitle span {
    font-size: 18px;
    font-weight: bold;
    
}





