
body {
    background-color: #FAFAFC;;
    font-family: system-ui;
    color: #4a4a4e;
    box-sizing: border-box;
    margin: 0;
}

.container {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 70%;
    width: 35%;
    overflow: hidden; 
}

.card-top {
    background-image: url("https://images.unsplash.com/photo-1574007557239-acf6863bc375?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
    height: 80%;
    background-size: cover;
    position: relative;
}

.stats {
    color: rgba(255, 255, 255, 0.911);
    position: absolute;
    bottom: 20px;
    left: 30px;
    word-spacing: 10px;
    font-size: 1rem;
    font-weight: 400;
}

.card-body {
    height: 100%;
    background-color: rgba(225, 239, 248, 0.911);
    display: flex;
}

.avatar {
    width: 30%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    width: 70%;
    height: 20%;
}

.avatar img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.title {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: bold;
    color: #4a4a4eef;
    padding-top: 30px;
}

.subtitle {
    font-size: 0.8rem;
    color: #4a4a4e75;
    padding-top: -20px;
}

.subtitle span {
    font-weight: bold;  
}





