:root {
    --background-image: url("/assets/3968.jpg");
    --background-color: #e9e14a;
    --background-shadow: 0px 0px 0px 0px #e9e14a inset;
    --font-size-logo: 2rem;
    --font-size-nav: 1.7rem;
    --banner-font-size-title: 4rem;
    --banner-font-size-subtitle: 1.7rem;
    --banner-font-color-title: white;
    --banner-font-color-subtitle: black;
    --banner-font-title-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black, 1px 0px 0 black, 0px 1px 0 black, -1px 0px 0 black, 0px -1px 0 black;
    --banner-font-subtitle-shadow:  1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white, 1px 0px 0 white, 0px 1px 0 white, -1px 0px 0 white, 0px -1px 0 white;
    --nav-font-color-logo: rgb(0, 0, 0);
    --nav-font-color-links: black;
    --nav-font-logo-shadow: 2px 2px 0 white, 2px -2px 0 white, -2px 2px 0 white, -2px -2px 0 white, 2px 0px 0 white, 0px 2px 0 white, -2px 0px 0 white, 0px -2px 0 white;
    --nav-margin: 30px;
    --nav-padding: 20px;
    --section-bg-color-odd: #11274E;
    --section-bg-color-even: #4A243B;
    --section-font-color-odd: rgb(255, 255, 255);
    --section-font-color-even: white;
    --section-font-color-odd-title: #F6AB14;
    --section-font-color-even-title: #60AED2;
    --section-font-size-title: 2rem;
    --section-font-size-content: 1.4rem;
    --divisor-font-size: 2.5rem;
    --divisor-font-color: #EC3434;
    --divisor-font-shadow:  1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white, 1px 0px 0 white, 0px 1px 0 white, -1px 0px 0 white, 0px -1px 0 white;
    --footer-bg-color: #0C302B;
}
