@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap [fonts.googleapis.com]');

body {
    background-color: #FFF1D0;
    font-family: system-ui;
    color: #000000d0;
    box-sizing: border-box;
    margin: 0;
}

.container {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container-wrapper {
    height: 55%;
    width: 70%;
    display: flex;
    overflow: hidden;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 20px 0px #888888;
}


.panel-l {
    /* float: left; */
    background-color: white;
    width: 80%;
    height: 100%;
}

.panel-l-container {
    margin: 45px;
}

.panel-r {
    /* float: left; */
    background-image: url("https://images.unsplash.com/photo-1606830733744-0ad778449672?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzl8fGNocmlzdG1hcyUyMHRyZWV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60 [images.unsplash.com]");
    width: 60%;
    background-size: 100% 100%;
    background-color: white;
}

.title {
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: bold;
}

.panel-l p {
    font-family: 'EB Garamond', serif;
    font-size: 1.2rem;
    text-align: justify;
    word-spacing: 0.1rem;
    text-transform: capitalize;
    color: rgb(112, 112, 112);
}

.description span {
    text-transform: capitalize;
}

.buttons {
    /* position: absolute; */
    /* margin: 40px 0px 0px 50px; */
        /* height: 15%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 12%;
    padding-top: 20px;
}

.buttons a {
    /* float: left; */
    /* height: 50px;
    width: 60px; */
    width: 15%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.781);   
    color: white;
    font-weight: bold;
    font-family: 'Farsan', cursive;
    border-radius: 5px 0px 0px 5px;
    font-size: 1.2rem;
    display: flex;
    align-items:center;
    justify-content:center;
}

.buttons button {
    /* float: left; */
    /* height: 50px;
    width: 100px; */
    font-weight: bold;
    color: white;
    background-color: #8596f7;
    font-family: 'Farsan', cursive;
    border-radius: 0px 5px 5px 0px;
    font-size: 1.2rem;
    height: 100%;
    border:none;
}

.buttons span {
    text-transform: capitalize;
}



