:root {
  --background-image: url('/assets/IMG_20210917_151311_195.jpg');
  --background-color: #313131;
  --background-shadow: 0px 0px 58px 70px #313131 inset;
  --font-size-logo: 1.5rem;
  --font-size-nav: 1.3rem;
  --banner-font-size-title: 4rem;
  --banner-font-size-subtitle: 1.7rem;
  --banner-font-color-title: white;
  --banner-font-color-subtitle: black;
  --nav-font-color-logo: white;
  --nav-font-color-links: black;
  --nav-margin: 30px;
  --nav-padding: 20px;
  --section-bg-color-odd: #5f0b12;
  --section-bg-color-even: rgb(102, 102, 102);
  --section-font-color-odd: white;
  --section-font-color-even: black;
  --section-font-color-odd-title: rgba(0, 0, 0, 0.603);
  --section-font-color-even-title: rgba(255, 255, 255, 0.589);
  --section-font-size-title: 2rem;
  --section-font-size-content: 1.4rem;
  --divisor-font-size: 2.5rem;
  --divisor-font-color: rgba(255, 255, 255, 0.815);
  --footer-bg-color: rgb(27, 27, 27);
}
